<div class="offset-md-2">
    <div class="jumbotron col-md-10">
        <div class="col-md-12 text-center">
            <h1 class="display-4 ">Weclome to the Weather App</h1>
            <p class="lead">This is a simple application for showing weather data.</p>
            <hr class="my-4" />
            <p>If you are a new user to our application plase click the button below.</p>
            <a class="btn btn-primary btn-lg" href="#!signup" role="button">Sign Up</a>
        </div>
    </div>
</div>